@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 600px;
  height: 325px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  overflow-y: scroll;
  background-color: #083344;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
